.container {
    padding: 16px;
  }
  
  /* Full-width input fields */
  input[type="text"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type="text"]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/register button */
  .publishbtn {
    background-color: rgb(2, 143, 65);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .publishbtn:hover {
    opacity: 1;
  }
  
  .divider {
    width: 5px;
    height: auto;
    display: inline-block;
  }
  
  .divider2 {
    width: 20px;
    height: auto;
    display: inline-block;
  }